<div class="py-5 height">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= link_to "Back to project", @project, class: "mb-5 text-muted" %>
      <h2 class="mt-5 mb-4 fw-bold text-center">New Project</h2>

      <%= form_for @project do |form| %>
        <div class="form-group mb-3">
          <%= form.text_field :name, placeholder: "Project Name", class: "form-control py-2" %>
        </div>
        <div class="form-group">
          <%= form.submit "Create Project", class: "form-control py-2 shadow btn btn-primary fw-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>