<div class="py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="bg-light py-4 ps-5">
        <h3 class="fw-bold w-75 mt-5">Project:<br><br>
        <span class="text-muted"><%= @project.name %>.</span></h3>
        <p class="mt-5"><%= link_to "Add Report", new_project_report_path(@project), class: "btn btn-primary fw-bold shadow" %>
      </div>
    </div>
    <div class="col-lg-7 mx-auto">
      <h5 class="border-bottom pb-2 mb-4 fw-bold">Project Progress Reports</h5>

      <div>
        <% @reports.each do |report| %>
          <span class="bg-light py-1 ps-3 d-block mb-1">
            <section class="d-flex justify-content-between align-items-center">
              <%= link_to report.title, {}, class: "", style: "text-decoration: none" %>
              <small><%= report.files.count %> Attachments</small>
              <small class="me-3 text-danger">Not Approved</small>
            </section>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>