<div style="width: 70%; margin: 50px auto; background: #f9f9fb; padding: 40px; border: 1px solid #ddd;">
  <p><%= @greeting %></p>
  <p>A New Project progress report has been added by Were Henry</p>
  <p>
    <strong>Title: 
    <span style="text-decoration: underline"><%= @report.title %></span>
    </strong><br>
  </p>
  
  <div>
    <%= link_to "View Report details", root_url %><br><br>
  </div>

  <div>
  <p>Login details:</p>
  <hr>
  <p>Email: <span style="color: blue; font-weight: bold">smugzie@gmail.com</span><br>
  Password: <span style="color: blue; font-weight: bold">Myinstructor</span></p>
  </div>
</div>


